reference/*
maps/*
processed_files/*
reference_files/*
results/*
dmelanogaster_sv/results/*
dmelanogaster_sv/Dmel_all_reads.rmdup.fastq.gz
dmelanogaster_sv/dmel-all-chromosome-r6.63.fasta.gz
dmelanogaster_sv/svim/*
dmelanogaster_sv/svim_output/*
dc_by_infection/.snakemake/*
